.switcher {
  margin: 10px;
  transition: all .5s;
  border: 1px solid #424242;
  padding: 10px 15px;
  min-height: 60px;
  display: block;
  overflow: auto;
}

.switcher .btn {
	float:right;
	margin: 0 0 0 15px;
}

.hide {
  display: none;
  height: 0;
  overflow: hidden;
  width: 0;
}